<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MobileAppProject"
        tools:targetApi="31">


<!--        Ibraheem-->

        <activity
            android:name=".reg_pg_no_15"
            android:exported="false" />
        <activity
            android:name=".reg_pg_no_14"
            android:exported="false" />
        <activity
            android:name=".reg_pg_no_13"
            android:exported="false" />
        <activity
            android:name=".reg_pg_no_12"
            android:exported="false" />
        <activity
            android:name=".reg_pg_no_11"
            android:exported="false" />
        <activity
            android:name=".reg_pg_no_10"
            android:exported="false" />
        <activity
            android:name=".reg_pg_no_09"
            android:exported="false" />
        <activity
            android:name=".reg_pg_no_08"
            android:exported="false" />
        <activity
            android:name=".Reg_pg_07"
            android:exported="true" >
                <intent-filter>

                        <action android:name="android.intent.action.MAIN" />

                        <category android:name="android.intent.category.LAUNCHER" />

                </intent-filter>

        </activity>


<!--        Umair -->

        <activity
            android:name=".delivery.OrderReview"
            android:exported="false" />
        <activity
            android:name=".delivery.OrderProcessing"
            android:exported="false" />
        <activity
            android:name=".delivery.Delivered"
            android:exported="false" />
        <activity
            android:name=".delivery.DeliveryHistory"
            android:exported="false" />


<!--        Umar-->

        <activity
            android:name=".umaractv.Activity_Umar52"
            android:exported="false" />
        <activity
            android:name=".umaractv.Activity_Umar51"
            android:exported="false" />
        <activity
            android:name=".umaractv.Activity_Umar50"
            android:exported="false" />
        <activity
            android:name=".umaractv.Activity_Umar49"
            android:exported="false"
            android:theme="@style/PaymentHostActivity"/>


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAxT-dMMUM6EiuGvOTkxAolE1Kcpe5Dtio" />

<!--        Jamal -->

        <activity
            android:name="com.example.task.YourCart"
            android:exported="false" />
        <activity
            android:name="com.example.task.EmptyCart"
            android:exported="false" />
        <activity
            android:name="com.example.task.yourFavourite"
            android:exported="false" />
        <activity
            android:name="com.example.task.SearchFoood2"
            android:exported="false" />
        <activity
            android:name="com.example.task.searchFood"
            android:exported="false" />
        <activity
            android:name="com.example.task.recommendedOption"
            android:exported="false" />
        <activity
            android:name="com.example.task.tagsearch"
            android:exported="false" />
        <activity
            android:name=".Adapters.bottomnav"
            android:exported="false" /> <!-- Maaz -->

<!--        Maaz-->

        <activity
            android:name=".Fifty_Nine"
            android:exported="false"
            android:label="@string/title_activity_fifty_nine"
            android:theme="@style/Theme.MobileAppProject" />
        <activity
            android:name=".Fifty_Eight"
            android:exported="false" />
        <activity
            android:name=".Fifty_Seven"
            android:exported="false" />
        <activity
            android:name=".Fifty_Six"
            android:exported="true" />
        <activity
            android:name=".Fifty_Five"
            android:exported="true" />
        <activity
            android:name=".Fifty_Four"
            android:exported="false" />
        <activity
            android:name=".AddNewChatActivity"
            android:exported="false" />
        <activity
            android:name=".PaymentHostActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/PaymentHostActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".LocationFragmentHostActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home"
            android:exported="false"/>
      </application>

</manifest>
